/Lab_Report/.vs
/CheckBillboard/.vs
/Lab_Report/Debug
/Lab_Report/Lab_Report/Debug
/Lab_Report/Lab_Report/x64
/.vs
/ipch
/Debug
*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
*.ipch
*.res

**/.vs
**/FBX
**.FileListAbsolute.txt
**/Client.exe.recipe
